---
const { link, nume="nume", logo="", scaleLogo="1", borderLogo="" } = Astro.props;
---
<div class="card-partener">
    <a href={link} target="_blank">
        <div class="nume-partener flex"> {nume} </div>
        <div class="logo-partener flex">
            <img class={borderLogo} src={logo} style=`scale: ${scaleLogo};` />
        </div>
    </a>
</div>